form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form > * {
    font-size: 16px;
}

form > *:not(.Select)
{
    margin-top: 5px;
    margin-bottom: 5px;
}

form > input {
    border-color: var(--blueLight);
    color: var(--blueMid);
    padding: 5px 10px;
}

form > input::placeholder {
    color: var(--blueLight);
    text-align: center;
}

form > .Error {
    display: flex;
    flex-grow: 1;
    color:brown;
    justify-content: center;
    min-height: calc(1em + 5px);
    user-select: none;
}

form > h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .2em;
    font-size: 32px;
    user-select: none;
    padding-bottom: 10px;
}

form > a {
    margin-top: 30px;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    user-select: none;
}