.Modal {
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: var(--black-alpha);
}

.Modal > div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: start;
}

.Modal h2 {
    color: var(--white);
}