:root {
    --white:white;
    --blueLight: lightblue;
    --blueMid: rgb(108, 135, 145);
    --blueDark: rgb(60, 74, 78);
    --blueGlow: aqua;
}

.App {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}