main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    padding: 20px 30px;
    overflow: hidden;
}

main h2 {
    margin: 0;
}

@media screen and (max-width:560px) {
    main {
        padding: 5px 10px;
    }
}