.DebtList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    gap: 15px;
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    border: 1px solid var(--defaultDark);
    background-color: var(--white);
    border-radius: 12px 0 0 12px;
}

.DebtList > li {
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
    /* justify-content: center; */
    width: 100%;
    height: 100%;
}

.DebtItem {
    overflow: hidden;
    background-color: var(--defaultLight);
    border-radius: 10px;
    min-width: 400px;
}

.DebtItem.ok {
    --defaultLight: var(--blueLight);
    --defaultMid: var(--blueMid);
    --defaultDark: var(--blueDark);
    --defaultGlow: var(--blueGlow);
}

.DebtItem.overdue {
    --defaultLight: var(--redLight);
    --defaultMid: var(--redMid);
    --defaultDark: var(--redDark);
    --defaultGlow: var(--redGlow);
}

.DebtItem.attention {
    --defaultLight: var(--yellowLight);
    --defaultMid: var(--yellowMid);
    --defaultDark: var(--yellowDark);
    --defaultGlow: var(--yellowGlow);
}

.DebtItem.warning {
    --defaultLight: var(--orangeLight);
    --defaultMid: var(--orangeMid);
    --defaultDark: var(--orangeDark);
    --defaultGlow: var(--orangeGlow);
}

.DebtItem.complete {
    --defaultLight: var(--greenLight);
    --defaultMid: var(--greenMid);
    --defaultDark: var(--greenDark);
    --defaultGlow: var(--greenGlow);
}

.DebtItem, .DebtItem div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 0 5px 0;
}

.DebtItem span {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
}

.DebtItem > span {
    justify-content: space-between;
    gap: 10px;
}

.DebtItem > :not(:first-child) {
    margin: 0 5px;
    
    border-radius: 8px;
    overflow: hidden;
}

.DebtItem > .debt-header > span {
    height: 100%;
    color: var(--white);
    background-color: var(--defaultMid);
    
    padding: 10px 10px 10px 10px;
}

.DebtItem > span > span:first-child {
    width: fit-content;
}

.DebtItem > .debt-header > span:first-child {
    border-radius: 0;
    border-bottom-right-radius: 15px;
    width: 30%;
    gap: 10px;
}

.DebtItem > .debt-header > span:last-child {
    border-radius: 0;
    border-bottom-left-radius: 15px;
    flex-grow: 1;
    gap: 10px;
}

.DebtItem > .debt-header > span > span:first-child {
    justify-content: flex-start;
}

.DebtItem > .debt-header > span > span:last-child {
    justify-content: flex-end;
}

.DebtItem > .debt-header > span, .DebtItem > .debt-header > span:first-child > span:last-child {
    justify-content: space-between;
}

.DebtItem > .debt-body, .DebtItem > .debt-payments, .DebtItem > .debt-paid, .DebtItem > .debt-state {
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, .8);
}

.DebtItem > .debt-state .paid, .DebtItem > .debt-state .rest {
    margin: 0 .3rem;
}

.DebtItem .op {
    justify-content: flex-end;
    margin: 0 .5rem;
    user-select: none;
}

.DebtItem > .debt-body > span {
    flex-grow: 0;
    padding: 0 10px;
}

.DebtItem > .debt-body .total {
    justify-content: flex-end;
}

.DebtItem .currency {
    user-select: none;
    font-weight: bolder;
    justify-content: flex-end;
    margin-right: .3rem;
}

.DebtItem > .debt-state .paid {
    color: var(--redMid);
}

.DebtItem > .debt-state .rest {
    justify-content: flex-end;
}

.DebtItem > .debt-body .info > span {
    width: fit-content;
    flex-grow: 0;
}

.DebtItem > .debt-body .info > span:first-child {
    gap: 10px;
}

.DebtItem > .debt-body .info {
    /* width: 30%; */
    gap: 1rem;
    flex-grow: 0;
}

.DebtItem > .debt-body .parcels > :first-child {
    gap: .5rem;
}

.DebtItem > .debt-body .parcels {
    gap: 1rem;
}

.DebtItem > .debt-body.paid {
    justify-content: center;
}

.DebtItem > .debt-paid {
    justify-content: center;
    color: var(--greenMid);
}

.DebtItem > ul.debt-payments {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}

.DebtItem .DebtPayment {
    display: flex;
    background-color: var(--defaultLight);
    padding: 5px 20px 5px 20px;
    justify-content: space-between;
    align-items: center;

    border-radius: 8px;
    overflow: hidden;
}

.DebtItem .DebtPayment > span:first-child {
    display: flex;
    width: 50%;
}

.DebtItem .DebtPayment > span:last-child {
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 10px;
}

.DebtItem .DebtPayment > span:last-child > span:first-child {
    display: flex;
    width: fit-content;
}

.DebtItem .price {
    flex-grow: 0;
}

.DebtItem .date {
    font-size: 1.4em;
    flex-grow: 0;
    color: var(--defaultLight);
}

.DebtItem .category {
    font-size: 1.2em;
    flex-grow: 0;
    font-weight: 700;
}

.DebtItem .description {
    font-size: .9em;
}

.DebtItem .creditor {
    font-size: 1em;
    padding: 0 10px;
}

/* @media (max-width:1024px) 
{
    .DebtList {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:800px) 
{
    .DebtList {
        grid-template-columns: 1fr;
    }
} */