.Debts {
    display: flex;
    align-items: center;
    /* height: 100%;
    overflow: auto; */
    background-color: var(--defaultLight);
}

.Debts > span, .Debts > div {
    max-width: 1200px;
}

.Debts > span {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
    gap: 15px;
    user-select: none;
}

.Debts > span > span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    user-select: auto;
}

.Debts > span > h2 {

}

.Debts > span > h2 > .red {
    color: var(--redGlow);
}

.Debts > .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    /* padding: 10px; */
}