.Loading {
    display: flex;
    position: relative;
    flex-shrink: 0;
    aspect-ratio: 1;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--defaultMid);
    /* border: 2px solid var(--defaultMid); */
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    align-self: center;
    justify-self: center;
    margin: auto;
}

.Loading > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--defaultLight);
    padding: 5px;
    z-index: 100;
    background-color: var(--defaultDark);
    /* border: 1px solid var(--defaultDark); */
    border-radius: 20px;
    font-size: 1.5rem;
}

.Loading > p > span {
    display: flex;
    --size: .8em;
    width: var(--size);
}

.Loading > p > span > span {
    display: flex;
    overflow: hidden;
    width: 100%;
    animation-name: ping;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
}

.Loading > .LoadingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.LoadingSpinner > * {
    width: 100%;
    height: 100%;
    background-color: var(--defaultDark);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes ping {
    from {
        width: 0;
    }
    to {
        max-width: var(--size);
    }
}